@import '../../../student.component.scss';

.progress-label {
    color: $dark;
    font-size: 12px;
    font-weight: bold;
}

progress {
    border-radius: 7px;
    height: 6px;

    &::-webkit-progress-bar {
        background-color: $lightGray;
        border-radius: 7px;
    }

    &::-webkit-progress-value {
        background-color: $dark;
        border-radius: 7px;
    }
}

.success {
    color: $successGreen;
}

progress.success::-webkit-progress-value {
    background-color: $successGreen;
}

@include mobile {
    .progress-label {
        font-size: 8px;
    }
    progress{
        height: 4px;
    }
}