@import '../../../student.component.scss';

.progress-label {
    color: $dark;
    font-size: small;
    font-weight: bold;
}

progress {
    border-radius: 7px;
    height: 0.4em;

    &::-webkit-progress-bar {
        background-color: $lightGray;
        border-radius: 7px;
    }

    &::-webkit-progress-value {
        background-color: $dark;
        border-radius: 7px;
    }
}

.success{
    color: $successGreen;
}
progress.success::-webkit-progress-value {
    background-color: $successGreen;
}