@import '../../learning-resources.component.scss';

h1{
    font-weight: 700;
    font-size: 32px;
}
h2{
    color: $darkGray;
    font-weight: 800;
    font-size: 20px;
}

@include tablet{
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 13px;
    }
}