@import '../../student.component.scss';
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;500&display=swap');

* {
    font-family: 'Tajawal', sans-serif;
}

.card {
    border-color: $primary;
    border-radius: 16px;
    border-width: 0.9px;
    padding: 1em;

    .avatar-img-container {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: $my-light-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            border-radius: 50%;
        }

    }

    .study-level {
        color: $my-dark-blue;
    }
}

.nav-link {
    color: $my-gray;
}

.btn {
    border-radius: 20px;
}

.nav-item:hover,
.nav-item.active {
    border-bottom: 2px solid $primary;

    a.nav-link {
        color: $primary;
    }
}