<div class="student-card col-10 offset-1">
    <div class="student-card-top d-flex justify-content-between align-items-center p-3 p-md-4 gap-2">
        <div class="btn-container">
            <a href="#" type="button" class="btn btn-primary px-5">
                <p class="m-1">
                    تعديل الملف الشخصي
                </p>
            </a>
        </div>
        <div class="d-flex align-items-center gap-4">
            <div class="col text-end">
                <p class="student-name">
                    آلاء احمد محمد
                </p>
                <p class="study-level mb-0">
                    الصف الثالث الإعدادي
                </p>
            </div>
            <div class="col-5">
                <app-avatar-img imageRelativePath="/student/student-avatar.png" altText="student photo" width="90%"
                    backgroundColor="#B4D1C4"></app-avatar-img>
            </div>
        </div>
    </div>
    <div class="links-container">
        <app-student-pages-links-scroll></app-student-pages-links-scroll>
        <!-- <app-student-pages-links></app-student-pages-links> -->
    </div>
</div>