
<div class="body" dir="rtl">
     <div class="form">
         <h2 class="mb-5 text-center">انشاء حساب جديد</h2>
         <div class="m-3 text-danger" *ngIf="errorForSignUp !='[object Object]'">
            <p> {{errorForSignUp}}</p>
         </div>
         <form [formGroup]="signUpForm" (ngSubmit)="userRegister(signUpForm)" class=" mx-auto">
            
            <app-custom-input [type]="'text'"  [label]="'الاسم الأول'" 
            [formGroupInput]="signUpForm"
            [formControlNameInput]="'firstName'"
            ></app-custom-input>
            <app-custom-input [type]="'text'"  [label]="'الإسم الثاني'"
            [formGroupInput]="signUpForm"
            [formControlNameInput]="'secondName'"  ></app-custom-input>
            <app-custom-input [type]="'text'"  [label]="'إسم العائلة'"
            [formGroupInput]="signUpForm"
            [formControlNameInput]="'familyName'" 
            ></app-custom-input>
            <app-custom-input [type]="'email'"  [label]="'البريد الألكتروني'"
            [formGroupInput]="signUpForm"
            [formControlNameInput]="'email'"
            ></app-custom-input>
            <app-custom-input [type]="'text'"  [label]="'رقم التليفون'" 
            [formGroupInput]="signUpForm"
            [formControlNameInput]="'phoneNumber'"
            ></app-custom-input>
            <app-custom-input-password [label]="'كلمة المرور '"
            [formGroupInput]="signUpForm"
            [formControlNameInput]="'password'" >
            </app-custom-input-password>
            <app-custom-input-password [label]="'تأكيد كلمة المرور'" 
            [matchingValue]="signUpForm.value.password == signUpForm.value.confirmPassword ? true:false"
            [formGroupInput]="signUpForm"
            [formControlNameInput]="'confirmPassword'">
            </app-custom-input-password>
            <app-custom-input-select [label]="'إختر النوع'"
            [formGroupInput]="signUpForm"
            [formControlNameInput]="'gender'"
            [options]="genders">
            </app-custom-input-select>
            <app-custom-input-select [label]="'إختر مستخدم'" 
            [formGroupInput]="signUpForm"
            [formControlNameInput]="'role'"
            [options]="roles">
            </app-custom-input-select>
            <app-custom-input-select [label]="'الدولة'"
            [formGroupInput]="signUpForm"
            [formControlNameInput]="'countryCode'"
            [options]="countries">
            </app-custom-input-select>
 
            <div class="form-group mb-2" >
                 <button [disabled]="!signUpForm.valid" (click)="emitValue()" class="btn btn-primary w-100 ">
                    <p *ngIf="!isLoading"class="py-1"> انشاء حساب</p>
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>      
                </button>
             </div>
         </form>
         <span class="mt-2 d-flex justify-content-center align-items-center">هل لديك حساب؟ <a routerLink="/auth/login" class="text-decoration-none" style="color: blue;">تسجيل دخول</a></span>
     </div>
 </div>
 