@import '../../learning-resources.component.scss';

p {
    font-size: 14px;

    i,
    &.info-var {
        color: $mediumGray;
    }

    i {
        font-size: 20px;
    }
}

@include mobile {
    p {
        font-size: 12px;
    }

    i {
        font-size: 16px;
    }
}