<div class="d-flex gap-1 mt-1">
    <div *ngFor="let i of [0,1,2,3,4]" class="position-relative">
        <i class="bi bi-star empty m-0"></i>
        <p class="m-0" [style.width]="starsWidths[i]">
            <i class="bi bi-star-fill full"></i>
        </p>
    </div>
    <!-- <div class="position-relative">
        <i class="bi bi-star empty"></i>
        <p>
            <i class="bi bi-star-fill full"></i>
        </p>
    </div>
    <div class="position-relative">
        <i class="bi bi-star empty"></i>
        <p>
            <i class="bi bi-star-fill full"></i>
        </p>
    </div>
    <div class="position-relative">
        <i class="bi bi-star empty"></i>
        <p>
            <i class="bi bi-star-fill full"></i>
        </p>
    </div>
    <div class="position-relative">
        <i class="bi bi-star empty"></i>
        <p>
            <i class="bi bi-star-fill full"></i>
        </p>
    </div> -->
</div>