<div class="body" dir="rtl">

    <div class="d-flex">
     <div class="form">
       <!--  <h2 class="mb-5">{{'Register' | translate }}</h2>-->

       <h2 class="d-flex justify-content-center align-items-center mb-3">هل نسيت كلمة المرور ؟</h2>
       <p class="d-flex justify-content-center align-items-center text-muted mb-3 text-bold">قم بإدخال بريدك الألكتروني المسجل به مسبقا</p>
         <div class="m-3 text-danger" *ngIf="errorForgetPassword">
             {{errorForgetPassword}}
         </div>
         <form [formGroup]="forgetPasswordForm" (ngSubmit)="ResetPassword(forgetPasswordForm)" class=" mx-auto">
   
             <div class="form-group mb-4">
                 <label for="email" class="mb-2">البريد الإلكتروني</label>
                 <input type="email" id="email" class="form-control"  formControlName="email">
                 <div *ngIf="email?.errors && email?.touched" class="mx-3 text-danger">
                     <p class="mb-0" *ngIf="email?.getError('required')">this feild is required</p>
                     <p class="mb-0" *ngIf="email?.getError('email')">Invalid email</p>
                 </div>
                </div>   
             <div >
                <button type="reset" *ngIf="isLoading" class="btn btn-info ms-auto d-flex">
                    <i class="da fa-spinner fa-spin"></i>
        
                </button>
                 <button [disabled]="!forgetPasswordForm.valid" (click)="emitValue()" class="btn btn-primary w-100 mx-0">إرسال</button>
             </div>
         </form>
         <span class="mt-2 d-flex justify-content-center align-items-center"> <a routerLink="/auth/login" class="text-decoration-none" style="color: rgb(34, 30, 30);">الرجوع لتسجيل الدخول مرة أخرى </a></span>
     </div>
    </div>
 </div>
 
 