<div class="body" dir="rtl">

    <div class="d-flex">
     <div class="form">

        <h2 class="d-flex justify-content-center align-items-center mb-3">هل نسيت كلمة المرور ؟</h2>
        <p class="d-flex justify-content-center align-items-center text-muted mb-3 text-bold">قم بإدخال بريدك الألكتروني المسجل به مسبقا</p>
        <div class="m-3 text-danger" *ngIf="errorForgetPassword">
             {{errorForgetPassword}}
        </div>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="ResetPassword(forgetPasswordForm)" class=" mx-auto">
               
            <app-custom-input [type]="'email'"  [label]="'البريد الألكتروني'"
            [formGroupInput]="forgetPasswordForm"
            [formControlNameInput]="'email'"
            ></app-custom-input>

            
            <div >
                 <button [disabled]="!forgetPasswordForm.valid"  (click)="emitValue()" class="btn btn-primary w-100 mx-0">
                   <p *ngIf="!isLoading"class="py-1">إرسال</p>
                   <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
         <span class="mt-2 d-flex justify-content-center align-items-center"> <a routerLink="/auth/login" class="text-decoration-none" style="color: rgb(34, 30, 30);">الرجوع لتسجيل الدخول مرة أخرى </a></span>
     </div>
    </div>
 </div>
 
 