@import '../../../style/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;500&display=swap');

$my-third-blue: #3290FF;
$my-gray: #4E5566;
$my-light-gray: #C7C7C7;
$my-dark-blue: #003456;
$my-light-blue: #B4D1C4;
$my-pill-blue: #6BD0FD3D;
$my-success: #23BD33;
$my-background-white: #F2F2F2;



* {
    font-family: 'Tajawal', sans-serif !important;
}

.primary-subtitle {
    color: $dark;
}

.subject-card-title {
    color: $my-dark-blue;
}

.subject-card-text {
    color: $my-gray;
}

.card-main-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    text-decoration: none;
}