@use '../../../../../../style/styles.scss';
@use '../../../student.component.scss';

* {
    text-align: end;
}

label {
    font-size: small;
}
input,select{
    border-radius: 30px;
    border: 1px solid #D1D1D1;
    background-color: white;
    color: student.$my-gray;
}
select:hover{
    cursor: pointer;
}
#subject-name{
    text-align: start;
    // font-family: bootstrap-icons !important;
    i{
        position: absolute;
        top: 0;
    }
}

