<div class="col justify-content-between align-items-center mb-4 p-3 p-sm-4">
    <div class="d-flex justify-content-end py-3">
        <h2 class="primary-subtitle"> (957) المواد</h2>
    </div>
    <form class="form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="search-fields-container d-flex justify-content-between gap-2">
            <div class="col">
                <app-select 
                    [parentFormGroup]="searchForm" 
                    myFormControlName="teacher" 
                    label="اختر المعلم"
                    defaultOption="اسم المعلم" 
                    [options]="teachers"
                ></app-select>
            </div>
            <div class="col">
                <app-select 
                    [parentFormGroup]="searchForm" 
                    myFormControlName="status" 
                    label="الحالة"
                    defaultOption="جميع المواد" 
                    [options]="statuses"
                ></app-select>
            </div>
            <div class="col">
                <app-select 
                    [parentFormGroup]="searchForm" 
                    myFormControlName="sort" 
                    label="مصنفة"
                    defaultOption="الأخيرة" 
                    [options]="sortTypes"
                ></app-select>
            </div>
            <div class="col-12 col-md-5 flex-column d-flex search-contianer p-1">
                <label for="subject-name">
                    البحث
                </label>
                <i class="bi bi-search pe-3"></i>
                <input type="text" id="subject-name" class="p-2 pe-5" formControlName="keyword"
                    [class.invalid]="isInvalid('keyword')" placeholder="ابحث عن المادة المطلوبة" dir="rtl">
            </div>
        </div>
    </form>
</div>