@import '../../../student.component.scss';

* {
    text-align: end;
}

#subject-name {
    text-align: start;
}

@include maxBreakpoint(767px) {
    .search-fields-container {
        flex-direction: column-reverse;
    }
}