
<div class="body" dir="rtl">
    
     <div class="form">
         <h2 class="mb-5 text-center">تسجيل دخول</h2>
         <div class="m-3 text-danger" *ngIf="errorForLogin">
             <li>{{errorForLogin}}</li>
         </div>
         <form [formGroup]="loginForm" (ngSubmit)="LoginUser(loginForm)" class=" mx-auto">
            
            <app-custom-input [type]="'email'"  [label]="'البريد الألكتروني'"
            [formGroupInput]="loginForm"
            [formControlNameInput]="'email'"
            ></app-custom-input>

            <app-custom-input-password [label]="'كلمة المرور '"
            [formGroupInput]="loginForm"
            [formControlNameInput]="'password'" >
            </app-custom-input-password>

            <div class="my-2">
                <span ><a routerLink="/auth/forget-password" class="text-decoration-none text-muted">هل نسيت كلمة المرور؟ </a></span>
            </div>
            <div >
                 <button [disabled]="!loginForm.valid" class="btn btn-primary w-100  mx-0">
                    <p *ngIf="!isLoading"class="py-1">تسجيل دخول</p>
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>   
                </button>
            </div>
         </form>
         <span class="mt-2 d-flex justify-content-center align-items-center">ليس لديك حساب؟ <a routerLink="/auth/signup" class="text-decoration-none" style="color: blue;">انشاء حساب جديد</a></span>
 </div>
 </div>
 