<div class="d-flex flex-column p-1">
    <label> {{label}} </label>
    <div [formGroup]="parentFormGroup" class="search-contianer select-contianer">
        <i class="bi bi-chevron-down pe-3"></i>
        <select class="w-100 p-2" [formControlName]="myFormControlName">
            <option disabled selected hidden [ngValue]="null">
                {{defaultOption}}
            </option>
            <option dir="rtl" class="text-end p-2" *ngFor="let option of options" [ngValue]="option">
                {{ option }}
            </option>
        </select>
    </div>
</div>