@import '../../../student.component.scss';

.btn {
    background-color: $my-third-blue;
    border-color: $my-third-blue;
    border-radius: 50px;
}
.accordion-btn{
    color: $my-third-blue;
}

@include tablet{
    .card-main-container{
        padding: 0;
    }
    .card-actions-container{
        flex-direction:column;
        .col-5{ //todo-maybe use n-th child
            width: 100%;
        }
        .col{
            width: 100;
            margin: 0;
        }
    }
}