<div class="progress-bar-container d-flex gap-2">
    <div class="d-flex justify-content-between align-items-center gap-2 w-100">
        <div class="col-1 text-center">
            <p class="m-0">
                {{percentage | number:'1.0-1'}}%
            </p>
        </div>
        <div class="col w-100" dir="rtl">
            <progress class="w-100" [value]="percentage" max="100"></progress>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-end align-items-center px-2 gap-3">
            <p class="label nowrap m-0" dir="rtl">
                {{rating}} نجوم تقييم
            </p>
            <app-rating-stars [rating]="rating"></app-rating-stars>
        </div>
    </div>
</div>