<div class="form-group mb-2" *ngIf="formGroupInput" [formGroup]="formGroupInput">
    <label  class="mb-2">{{label}} </label>
    <div class="div">
       <input [type]="showPassword ? 'text' : 'password'"  class="form-control"  [formControlName]="formControlNameInput">
       <p class="show" (click)="togglePassword()" >{{showPassword ? 'إخفاء': 'إظهار'}}</p>
    </div>
    <div *ngIf="formControl.errors && formControl.invalid && formControl.touched" class="mx-3 text-danger">
        <p class="mb-0" *ngIf="formControl?.getError('pattern')">Invalid password</p>
        <p class="mb-0" *ngIf="formControl?.getError('required')">this feild is required</p>
    </div>
    <div class="mx-3 text-danger" *ngIf="matchingValue==false && formControl.touched">
        <p class="mb-0" > Confirmed password not matched</p>
    </div>
</div>