input{
    border-radius: 30px;
    height: 50px;
    border: 1px solid #D1D1D1;
}

.div{
    position: relative;
}
.show{
    position: absolute;
    top:10px;
    left :15px;
    background-color:white;
    cursor: pointer;
    color: #304ae0;

}