<div class="teacher-card-container p-2 d-flex flex-column justify-content-center text-end">
    <img [src]="assetsPath + '/teacher-img.png'" alt="teacher image" class="mb-2">
    <p class="teacher-name">
        فاطمة الزهراء
    </p>
    <p class="teacher-label">
        درست في جامعه الازهر الشريف
    </p>
    <p class="" dir="rtl">
        Ut enim ad minim veniam, quis nost exercitation
        ullamco laboris nisi ut allquip ex commodo.
    </p>
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary d-flex align-items-center justify-content-center m-1" type="button">
                <i class="bi bi-linkedin pt-1"></i>
            </a>
            <a class="btn btn-secondary d-flex align-items-center justify-content-center m-1" type="button">
                <i class="bi bi-twitter-x pt-1"></i>
            </a>
        </div>
        <a href="#" class="see-more-btn px-2 d-flex align-items-center" type="button">
            <i class="bi bi-arrow-left mx-2"></i>
            رؤية المحتوي الدراسي
        </a>
    </div>
</div>