@import '../student.component.scss';

.stuednt-pages-container {
    height: 100vh;
}

.card-section {
    background-color: $secondary;
    height: 35%;
}

.content-section {
    background-color: $backgroundGray;
}

app-student-info-card {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    z-index: 1;
}

router-outlet {
    position: absolute;
    top: 20%;
}

.links-container{
    display: none;
}

@include mobile{
    .links-container{
        display: inline;
    }
}