@import '../student.component.scss';

.content-section {
    background-color: $my-background-white;
    margin-top: 10em;
    padding-top: 10em;
}
.my-background {
    background-color: $secondary;
    padding-bottom: 5em;
}
// .my-container{
//     position: relative;
// }
app-student-info-card{
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
}