@import '../student.component.scss';

.content-section {
    background-color: $backgroundGray;
    position: absolute;
    top: 40vh;
}

.my-container {
    background-color: $secondary;
    height: 50vh;
}

app-student-info-card {
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    z-index: 1;
}