<div class="px-2">
    <div class="d-flex justify-content-end">
        <p class="pill p-2 mt-2">
            الصف الأول الإعدادي
        </p>
    </div>
    <div class="d-flex col-12 justify-content-between">
        <p *ngIf="price == 0" class="price-label ps-1">
            مجانا
        </p>
        <p *ngIf="price > 0" class="price-label ps-1">
            {{price}} جنيه
        </p>
        <span></span>
        <!-- <h5 class="subject-card-title offset-6 col-6 text-end"> -->
        <h5 class="subject-card-title text-end">
            اسم المادة
        </h5>
    </div>
    <div class="d-flex justify-content-end text-end">
        <p class="subject-card-text">يتفاعل الطلاب مع المعلم بالكتابة والصوت وحل الأسئلة والاختبارات</p>
    </div>
</div>