@import 'src/style/styles.scss';

.pill {
    background-color: $pillBlue;
    border-radius: 20px;
    width: max-content;
    color: $primary;
    font-size: x-small;
    font-weight: bold;
}

.subject-card-title {
    color: $darkBlue;
    font-weight: bold;
}

.subject-card-text {
    color: $superLightGray;
}

.price-label {
    color: $primary;
    font-weight: 900;
}