<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <app-top-nav-bar></app-top-nav-bar>
<app-bottom-nav-bar></app-bottom-nav-bar> -->

<!-- LANDING PAGE -->
<!-- <app-hero-section></app-hero-section>
<app-landing-subjects-section></app-landing-subjects-section>
<app-services-section></app-services-section>
<app-banner-section></app-banner-section>
<app-start-now-banner-section></app-start-now-banner-section>
<app-our-teachers-section></app-our-teachers-section>
<app-reviews-section></app-reviews-section> -->


<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->