<div class="pe-4">
    <div class="d-flex justify-content-end">
        <p class="pill p-2 mt-2">
            <b>
                الصف الأول الإعدادي
            </b>
        </p>
    </div>
    <div class="d-flex justify-content-end">
        <h5 class="subject-card-title">
            <b>
                اسم المادة
            </b>
        </h5>
    </div>
    <div class="d-flex justify-content-end text-end">
        <p class="subject-card-text">يتفاعل الطلاب مع المعلم بالكتابة والصوت وحل الأسئلة والاختبارات</p>
    </div>
</div>