@use '../../../../../../style/styles.scss';
@use '../../../student.component.scss';

.pill {
    background-color: student.$my-pill-blue;
    border-radius: 20px;
    width: max-content;
    color: styles.$primary;
    font-size: x-small;
}
