<div class="col justify-content-between align-items-center mt-4 p-3 p-sm-4">
    <h2 class="primary-subtitle text-center">
        الرئيسية
    </h2>
    <div class="d-flex justify-content-start">
        <div>
            <!-- card / dashboard -->
        </div>
    </div>
</div>
<div class="d-flex flex-column gap-2 gap-sm-3 mb-4 p-3 p-sm-4">
    <div class="title-arrow-container d-flex justify-content-between">
        <div>
            <app-arrow-buttons></app-arrow-buttons>
        </div>
        <h3 class="primary-subtitle text-end">هيا بنا لاستكمال المهام</h3>
    </div>
    <!-- <app-subject-card-grid *ngIf="subjects" [subjects]="subjects" ></app-subject-card-grid> -->
    <app-subject-card-grid ></app-subject-card-grid>
</div>