<div class="hero-container d-flex flex-column justify-content-start align-items-center pt-5 position-relative mb-5">
    <div class="d-flex flex-column justify-content-center align-items-center main-container">
        <h1 class="main-title">
            تعلم بدون حدود
        </h1>
        <p class="col-8 text-center">
            مذاكره تتيح ليك الفرصه التعلم من البيت و تفدم افضل الخبراء في المجال التعليمي
        </p>
        <a class="btn btn-primary px-4" type="button">
            <p class="p-1 m-1">
                هل انت معلم ؟ درس مع مذاكره
            </p>
        </a>
    </div>
    <div class="ellipse-container">
        <img [src]="assetsPath + '/landing/ellipse.svg'">
    </div>
    <div class="small-images-container">
        <img [src]="assetsPath + '/landing/hero-small-images.svg'">
    </div>
    <div class="hero-img-container d-flex justify-content-center">
        <img [src]="assetsPath +'/landing/hero-big-img.svg'" alt="study-img">
    </div>
</div>