@import 'src/style/styles.scss';

.card-main-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    font-size: large;
    color: $superLightGray
}

i {
    font-size: x-large;
    color: $dark;
}