$primary: #004BFD;
$secondary: #E2F3FF; 
$dark:#092433;
$danger:rgba(239, 58, 76, 0.09);

$darkGray: #4E5566;
$mediumGray: #6E7485;
$lightGray: #C7C7C7;
$superLightGray: #d3d3d3;
$backgroundGray: #F2F2F2;
$backgroundWhite: #f9f9fb;

$darkBlue: #003456;
$brightBlue: #3290FF;

$pillBlue: #6BD0FD3D;
$successGreen: #23BD33;
