<div class="body" dir="rtl">
  <div class="form">
    <h2 class="mb-5 text-center">تغيير كلمة المرور</h2>
    <div class="m-3 text-danger" *ngIf="updatePasswordError">
      <p>{{ updatePasswordError }}</p>
    </div>

    <form
      [formGroup]="updatePasswordForm"
      (ngSubmit)="updatePassword(updatePasswordForm)"
      class="mx-auto">

      <app-custom-input-password
        [label]="'كلمة المرور '"
        [formGroupInput]="updatePasswordForm"
        [formControlNameInput]="'newPassword'"
      >
      </app-custom-input-password>
      <app-custom-input-password
        [label]="'تأكيد كلمة المرور'"
        [matchingValue]="
          updatePasswordForm.value.newPassword ==
          updatePasswordForm.value.confirmPassword"
        [formGroupInput]="updatePasswordForm"
        [formControlNameInput]="'confirmPassword'"
      >
      </app-custom-input-password>

      <div>
        <button
          [disabled]="!updatePasswordForm.valid"
          class="btn btn-primary w-100 mx-0"
        >
        <p *ngIf="!isLoading"class="py-1" >تأكيد ومتابعة  </p>
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
         
        </button>
      </div>
    </form>
  </div>
</div>

