*{
    font-family: Tajawal;
    box-sizing: border-box;
}

.all{
    display: flex;
    background-color: #FFF;
    color: black;
    padding: 0 ;
    margin: 0;
    height: 100%;
}

 .design{
    position: relative;
    padding: 0 ;
    margin: 0;
    margin-right: 100px;
} 

.regist_design{
    position: absolute;
    right: 0;
}

.imgStyle{
  position: sticky;
  top:0;
}
.logo{
    display: none;
}






@media only screen and (max-width: 992px){
    .all{
        display: block;
    }
    .design{
        width: 100%;
        position: relative;
        padding: 0;
    }

    .forms{
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .regist_design{
        position: relative;
        justify-content: center;
        align-items: center;
        margin: auto;
        display: block;  
    }

    .imgStyle,.logobgc{
        display: none;
    }
    
  
    .logo{
        display: block;
        width: 100%;
        margin: auto;
        height: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
    }   
}

@media only screen 
  and (min-width: 993px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
/*     .imgStyle{
        display: none;
    }
    .design{
        width: 100%;
        position: relative;
        padding: 0;
    }
    .regist_design{
        position: relative;
        justify-content: center;
        align-items: center;
        margin: auto;
        display: block;  
    }

    .logo{
        display: block;
        width: 100%;
        margin: auto;
        height: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
    }   
    .forms{
        justify-content: center;
        align-items: center;
        width: 100%;
    }  */
     
.design{
    position: relative;
    padding: 0;
    margin: 0;
    margin-right: 100px;
}

.imgStyle{
  position: sticky;
  top:0;
}  

  
}
