<div class="all">
    <div class="design">   
        <img src="/assets/images/auth/Rectangle 3065designss.svg" class="imgStyle">
          <div class="regist_design w-75">
            <img src="/assets/images/auth/Logo_register.svg" class="me-4 mobileStyle">
            <img src="/assets/images/auth/design.svg" class="dmobileNone" >
            <h3 class=" head3">تعلم بدون حدود</h3>
            <p class="textStyle text-muted w-100 d-flex justify-content-center align-items-center text-center" >مذاكره تتيح ليك الفرصه التعلم من البيت و تفدم افضل الخبراء في المجال التعليمي</p>
          </div>
    </div>
    <div class="forms">
        <router-outlet></router-outlet>
    </div>
</div>