@import '../../landing.component.scss';

$my-medium-gray: #7E7E7E;

h3{
    color: $primary;
    font-weight: 600;
    font-size: xx-large;
}
p{
    color: $my-medium-gray;
}

@include tablet{
    .cards-container{
        flex-wrap: wrap;
    }
}