<div class="start-now-banner-container d-flex justify-content-end align-items-center position-relative overflow-hidden p-4 pe-5 my-5">
    <div class="img-container d-flex align-items-center justify-content-center">
        <img [src]="assetsPath +'/landing/start-now-img.svg'" alt="study-img">
    </div>
    <div class="col-lg-5 col-md-6 col-sm-11 text-end">
        <h2>
            الشرح والمراجعات النهائية والامتحانات التدريبية
        </h2>
        <p class="text bold-text" dir="rtl">
            يتفاعل الطلاب مع المعلم بالكتابة والصوت وحل الأسئلة والاختبارات .. ويصل للمعلم تقرير كامل عن تفاعلهم
            يتفاعل
            الطلاب مع المعلم بالكتابة والصوت وحل الأسئلة والاختبارات .. ويصل للمعلم تقرير كامل عن تفاعلهم !
        </p>
        <p class="text" dir="rtl">
            يتفاعل الطلاب مع المعلم بالكتابة والصوت وحل الأسئلة والاختبارات .. ويصل للمعلم تقرير كامل عن تفاعلهم
            يتفاعل
            الطلاب مع المعلم بالكتابة والصوت وحل الأسئلة والاختبارات .. ويصل للمعلم تقرير كامل عن تفاعلهم !
        </p>
        <a href="#" type="button" class="btn btn-primary px-5 p-2 m-1">
            ابدأ الأن
        </a>
    </div>

</div>