@import '../../../student.component.scss';

.btn {
    background-color: $brightBlue;
    border-color: $brightBlue;
    border-radius: 40px;
    font-weight: 600;
    font-size: 14px;
}

.progress-success-label {
    color: $successGreen;
    font-size: small;
    font-weight: bold;
}