<!-- <div class="lr-container d-flex gap-2 p-3 p-lg-5">
    <div class="side-lr-plan col-lg-4">
        <app-subject-plan-card [subject]="subject"></app-subject-plan-card>
    </div>
    <div class="col-12 col-lg-8 d-flex flex-column gap-3">
        <app-lr-progress
            [lrName]="lrName"
            [topicName]="topicName"
            [unitName]="unitName"
            [subjectName]="subject.name"
        ></app-lr-progress>
        <app-lr-info 
            [lrName]="lrName"
            [topicName]="topicName"
            [unitName]="unitName"
            [subjectName]="subject.name"
        ></app-lr-info>
        <router-outlet></router-outlet>
    </div>
</div> -->

<router-outlet></router-outlet>