<div>
    <div class="position-relative">
        <i class="bi bi-quote position-absolute"></i>
    </div>
    <div class="review-card-container p-4 position-relative">
        <div class="d-flex justify-content-start">
            <p class="review-text">
                Our kids love the teacher, It’s definitely trained and certified. Thank you for all the services and
                will
                used
                it for many years. Lorem Ipsum Dolor sit amet.
            </p>
        </div>
        <div class="d-flex justify-content-end">
            <p class="review-author">
                احمد خالد
            </p>
        </div>
    </div>
</div>