<div class="banner-container position-relative d-flex flex-column align-items-center p-sm-5 p-2 pt-3">
    <div class="text-center d-flex flex-column justify-content-center align-items-center">
        <h2 class="banner-title">
            ابدأ الكورسات الأونلاين
        </h2>
        <p class="col-9 col-sm-12 lh-lg" dir="rtl">
            What looked like a small patch of purple grass, above five feet square, was moving across the sand in
            their
            direction. When it came near enough he perceived that it was not grass there were no blades.
        </p>
        <div class="d-flex gap-md-4 gap-2">
            <a href="#" class="btn btn-outline-secondary btn-lg px-4 px-xl-5">
                <p class="m-1">
                    تواصل معنا
                </p>
            </a>
            <a href="#" class="btn btn-dark btn-lg px-4 px-xl-5">
                <p class="m-1">
                    تسجيل الدخول
                </p>
            </a>
        </div>
    </div>
    <div class="banner-bg">
        <img [src]="assetsPath + '/landing/banner-bg.svg'">
    </div>
</div>